body{
  font-family: 'Roboto Slab', serif;
}
/*For ng-cloak - Preventing Angular from showing before loaded.*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-toolbar#main-toolbar{
  min-height:52px;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;

}

#main-container {
  padding-top: 80px;
  background-color: #d0cbcb;
  height: 100%;
}
#menu-icon {
  width: 24px; height: 24px;
  background: url("../images/ic_grey-menu.png");
  cursor: pointer;
  border-radius: 50%;
}

#menu-icon:hover {
    background: #0277bd url("../images/ic_white-menu.png") right no-repeat;
}

md-sidenav#sidenav {
  padding-top: 65px;
  /*max-width: 150px;*/
}

/* Floating Button */
.upward_btn{
  position:fixed;
  top: 90%;
  right: 5%;
}
.upward_btn img {
  width: 24px;
}

/* Kanban styles*/
.kanban-col {
  background-color: white;
}

.kanban-col header {
  font-weight: bold;
  text-align: center;
}

md-toolbar.divider-height{
  height: 2px;
  min-height: 1px;
}

ul
{
  list-style-type: none;
  padding: 0;
  min-height: 40px;
}

/*ng-sortable styles*/

.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin: 1px 2px 5px 1px;
}

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: ghostwhite;
}

.as-sortable-drag {
  opacity: .8;
}
