<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vl4d-Ban-Board</title>
    <!-- Custom styling -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- Default md themes and core styles -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <!-- Roboto font-->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="vl4dBanBoardApp" ng-controller="MainCtrl" flex>
      <md-toolbar id="main-toolbar" md-theme="default" class="md-whiteframe-z2">
        <div class="md-toolbar-tools">

          <md-button ng-click="toggleLeft()" aria-label="Menu Icon" id="menu-icon">
            <md-tooltip md-visible="showTooltip">
              Open Sidenav
            </md-tooltip>
          </md-button>
          <span>Vl4d-Ban-Board</span>

          <!-- fill up the space between left and right area -->
          <span flex></span>
          <!-- TODO add buttons -->
          <md-button aria-label="Right Button">
            Right Bar Button
          </md-button>
        </div>

      </md-toolbar>

      <section flex>
        <md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-z2" component-id="left" >
          <md-content class="md-padding">
            <md-list>
              <md-item ng-repeat="item in items">
                <md-item-content><md-button aria-label="nav item" flex>{{item}}</md-button></md-item-content>
              </md-item>
            </md-list>
          </md-content>
        </md-sidenav>

        <md-content id="main-container" flex class="md-padding" ng-view></md-content>
      </section>
    <!-- Scripts Needed   -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/hammerjs/hammer.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/home-controller.js"></script>
    <script src="scripts/controllers/main-controller.js"></script>
    <script src="scripts/controllers/card-controller.js"></script>
    <script src="scripts/controllers/action-menu-controller.js"></script>
</body>
</html>
