<!--TODO change themes for cards + make cards & text smaller!-->
<div id="board" layout="row" layout-align="center" style="min-height:550px;" ng-cloak>
  <md-card md-theme="{{col.theme}}" class="md-padding kanban-col"
           ng-repeat="col in kanban_cols"
           data-columnindex="{{$index}}" id="col{{$index}}" layout="column" flex>
    <md-content flex>
      <md-toolbar>
        <h3 class="md-toolbar-tools">
          <header flex>{{col.title}}</header>
        </h3>
      </md-toolbar>
      <ul data-as-sortable="kanbanSortOptions" ng-model="col.cards">
        <li ng-repeat="card in col.cards" as-sortable-item ng-include="'views/partials/card.tpl.html'"></li>
      </ul>
    </md-content>
  </md-card>
</div>

<!--Action Menu Button-->
<md-button class="md-fab md-warn upward_btn" aria-label="UpwardMenu" ng-click="showActionMenu()">
  <img src="images/ic_white-upward.png" />
  <md-tooltip md-visible="showTooltip">
    Open Action Menu
  </md-tooltip>
</md-button>
